.delete_button {
display: flex;
justify-content: center;
align-items: center;
padding: 6px 12px;
gap: 8px;
height: 30px;
width: 50px;
border: none;
background: #ff362b34;
border-radius: 30px;
cursor: pointer;
}

.lable {
line-height: 20px;
font-size: 17px;
color: #FF342B;
font-family: sans-serif;
letter-spacing: 1px;
}

.delete_button:hover {
background: #ff362b52;
}